Hello,<br/>
<br/>
This is an automatic notification that your <em>Initial Application</em> has been received by the Binghamton University Biospecimen Archive Facility. Someone will contact you directly within five business days regarding your request.<br/>
<br/>
If you have received this message in error, please contact <a href="mailto:biospecimenarchive@binghamton.edu">biospecimenarchive@binghamton.edu</a> .<br/>
<br/>
Thank you,<br/>
<br/>
Biospecimen Archive Facility Staff<br/>
Binghamton University<br/>
PO Box 6000<br/>
Binghamton, NY 13902<br/>