Hello,<br/>
<br/>
This is an automatic notification that your <u>Final Application</u> materials have been received by the Biospeciment Archives Facility. We will be sending you a billing invoice shortly.<br/>
<br/>
You will receive a call to setup shipping arrangements. After we have shipped your package(s), we will provide you with a Fed Ex tracking number.<br/>
<br/>
If you have any questions, please donot hesitate to contact us at 607-777-XXXX or <a href="mailto:biospecimenarchive@binghamton.edu">biospecimenarchive@binghamton.edu</a>.<br/>
<br/>
<br/>
Thank you,<br/>
<br/>
Biospecimen Archive Facility Staff<br/>
Binghamton University<br/>
PO Box 3000<br/>
Binghamton, NY 13902<br/>